*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* DESIRED font-size=10px; DEFAULT agenda's font-size (browser's font-size=16px!!! */
    font-size: 62.5%; /* 1rem = 10px; 10px/16px=0.625 */

    @include respond-phone {
        font-size: 50%;
    }

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; // 1rem = 9px; 9/16 = 0.5625%;
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; // 1rem = 8px; 8/16 = 50%;
    }

    @include respond(phone) { // width < 600?
        font-size: 37.5%; // 1rem = 6px; 6/16 = 0.375
    }

    @include respond(big-desktop) {
        font-size: 80%; // 1rem = 12px; 12/16 = 75%;
    }
}

html,
body {
    /* overflow-x:hidden; */
}

body {
    box-sizing: border-box;
    /*
     this (box-sizing: border-box;) must be here (in body tag) and +
     * {
        box-sizing: inherit;
    } this will make all the elements to inherit this property!!!!
    */
}

/* transition only after page load http://css-tricks.com/transitions-only-after-page-load/ */
body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
