.section-about {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -15vh;
}

.section-feature {
    margin-top: -9rem;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, .8),
        rgba($color-primary-dark, .8)),
        url(../../src/images/4k_image.jpg);
    background-size: cover;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    margin-top: -10rem;
    padding: 20rem 0;
}

.section-stories {
    position: relative;
    margin-top: -10rem;
    padding: 15rem 0;
}

.section-book {
    margin-top: -10rem;
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.booking {
    background-image: linear-gradient(105deg,
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 50%,
     transparent 50%), url(../../src/images/story-2.jpg);
    background-size: 100%; // as cover
    border-radius: 3px;
    box-shadow: 0 1.5rem 3rem rgba($color-dark, 0.7);
    height: 50rem;

    &__form {
        width: 50%;
        padding: 6rem;
    }
}